* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 20px 80px;
  background: #fff7f4;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
}
.navbar-left {
  flex-basis: 30%;
  /* border: 1px solid green; */
}
.navbar-left span {
  color: #ff5300;
}
.navbar-right {
  display: flex;
  flex-basis: 70%;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 1px solid rgb(224, 8, 8); */
}
.navbar-right a {
  display: flex;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.active:hover {
  color: #ff5300;
}
.navbar-right button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  background: #fff7f4;
}
.navbar-right button h5 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

/*...... Home.....*/
.home {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}
.home-left {
  flex-basis: 50%;
  width: 553px;
  height: 470px;
  top: 230px;
  left: 761px;
  margin-top: 60px;
}
.home-left h1 {
  margin-top: 30px;
  font-size: 44px;
  line-height: 73px;
  text-align: left;
  color: #373737;
}
.home-left h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-top: 30px;
  color: #7b7b7b;
}
.home-left button {
  background: #ff5300;
  line-height: 30px;
  margin-top: 30px;
  border-radius: 5px;
  text-align: center;
  width: 182px;
  height: 50px;
  border: none;
}
.home-left button h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: white;
}
.home-right {
  flex-basis: 50%;
}
.home-right img {
  width: 553px;
  height: 470px;
  margin-top: 30px;
}

/*Our Service*/

.service-container {
  display: flex;
  width: 1170px;
  height: 751px;
  /* border: 1px solid black; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.service-content {
  text-align: center;
  justify-content: center;
  border: 1px solid black;
}
.service-card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card {
  width: 370px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #0000001a;
}

/*Media Query*/

@media screen and (max-width: 600px) {
  .home-right img {
    display: flex;
    width: 300px;
    height: 300px;
    margin-top: 20px;
    flex-wrap: wrap;
  }
}

/*class Task */
.home-page {
  width: 100%;
  display: flex;
  margin-top: 30px;
  background-color: #fff7f4;
}
.home-page-left h5 {
  color: #ff5300;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.home-page-left h2 {
  font-size: 39.06px;
  font-weight: 600;
  line-height: 58.59px;
  text-align: left;
  color: #373737;
}
.home-page-left h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #7b7b7b;
}

/* .icon-container {
  display: flex;
flex-direction: row;
} */
.home-page-left {
  flex-basis: 50%;
  margin-top: 30px;
  /* border: 1px solid black; */
}
.icon {
  display: flex;
  flex-direction: row;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  color: #ff5300;
}

.home-page-right {
  flex-basis: 50%;
}
.home-page-right img {
  width: 553px;
  height: 470px;
  margin-top: 30px;
  /* border: 1px solid black; */
}
.icons {
  display: flex;
  padding-top: 10px;
}

/*Class-Assignment 20-3-24*/
.testimonial-container {
  /* border: 1px solid black; */
  background-color: #FFF7F4;
  margin-top: 50px;
  height: 100%;
  width: 100%;
}

.testimonial {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.testimonial-content {
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}
.Our-testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Our-testimonial h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ff5300;
}
.Our-testimonial span {
  width: 40px;
  height: 1px;
  margin: 0 10px 0 10px;
  /* margin: top, left bottom right ; */
  margin-top: 4%;
  background-color: #ff5300;
  border: 1px solid #ff5300;
}
.testimonial-content h2 {
  width: 462px;
  height: 59px;
  /* top: 159px;
left: 498px; */
  font-size: 39.06px;
  font-weight: 600;
  line-height: 58.59px;
  color: #373737;
}
.testimonial-card {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}
.Left-arrow{
  display: flex;
  align-items: center;
}
.testimonial-card img{width: 50px;
  height: 50px;
  border: 1px 0px 0px 0px;
  color: #373737;
}
.card {
  width: 350px;
  height: 250px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 5%;
  border: none;
}
.star img {
  width: 162px;
  height: 26px;
  margin-left: 20px ;
  margin-top: 20px;
}

.card h6 {
  width: 320px;
  height: 100px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #7B7B7B;
  margin-left: 20px;

}
.profile{
display: flex;
align-items: center;
/* justify-content: space-around; */

}
.profile-icon img{
  width: 60px;
  height: 60px;
    margin: 20px 10px 10px 20px;
}
.profile-icon {
  display: flex;
  align-items: center;
}
.profile-icon h5{
font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: left;
color: #ff5300;
}
.profile-icon h7{
font-size: 12.8px;
font-weight: 300;
line-height: 19.2px;
text-align: left;
color:#7B7B7B
}

.music-icon{
  display: flex;
  justify-content: flex-end;
  margin-left: 18%;

}
.music-icon img{
  width: 60px;
  height: 60px;
  
}
.right-arrow{
  display: flex;
  align-items: center;
}


